# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entornos virtuales
venv/
env/
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp

# Logs
*.log

# Testing
.pytest_cache/
.coverage